{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
  <title>Forms</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<h1> Pascal parser (In progress)</h1>

<p>Copy in the code from 'testok1.pas' in the repo and submit. The output is found in the terminal.
<body>
  {% crispy form form.helper %}

  <div class="myDiv">
    <h2> contents of testok1.pas </h2>

        program testok1 ( input , output ) ;
        var A , B , C : integer ;

        begin
        A := B + C * 2
        end .

  </div>
</body>

</html>
